services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - '8000:8000'
        env_file:
            - .env
        environment:
            - DATABASE_URL=postgresql://gwenaelbihan:postgres@db:5432/musicevent
            - REDIS_URL=redis://redis:6379/0
            - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
        depends_on:
            db:
                condition: service_healthy
            redis:
                condition: service_healthy
            # rabbitmq:
            #     condition: service_healthy
            kafka:
                condition: service_started
        volumes:
            - ./src:/app/src
        command: uvicorn src.main:app --host 0.0.0.0 --port 8000

    db:
        image: postgres:17
        environment:
            - POSTGRES_USER=gwenaelbihan
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=musicevent
        volumes:
            - postgres_data:/var/lib/postgresql/data
        ports:
            - '5432:5432'
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U gwenaelbihan -d musicevent']
            interval: 5s
            timeout: 5s
            retries: 5

    redis:
        image: redis:7-alpine
        ports:
            - '6379:6379'
        healthcheck:
            test: ['CMD', 'redis-cli', 'ping']

    # rabbitmq:
    #     image: rabbitmq:3-management-alpine
    #     ports:
    #         - '5672:5672'
    #         - '15672:15672'
    #     healthcheck:
    #         test: ['CMD', 'rabbitmq-diagnostics', 'ping']

    kafka:
        image: confluentinc/cp-kafka:latest
        ports:
            - '9092:9092'
        environment:
            KAFKA_NODE_ID: 1
            KAFKA_PROCESS_ROLES: broker,controller
            KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT

    celery_worker:
        build:
            context: .
            dockerfile: Dockerfile
        env_file:
            - .env
        environment:
            - DATABASE_URL=postgresql://gwenaelbihan:postgres@db:5432/musicevent
            - REDIS_URL=redis://redis:6379/0
            - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
            - CELERY_BROKER_URL=redis://redis:6379/0
            - CELERY_RESULT_BACKEND=redis://redis:6379/0
        depends_on:
            db:
                condition: service_healthy
            redis:
                condition: service_healthy
        volumes:
            - ./src:/app/src
        command: celery -A src.core.celery worker -l info

volumes:
    postgres_data:
